.card {
    background-color: var(--color-gray);
    color: var(--color-text);
    padding: var(--space-md);
}

.card-title {
    font-size: var(--font-md);
    margin-bottom: var(--space-sm);
}

.card-desc{
    font-size: var(--font-sm);
}