.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.card {
flex: 1 1 calc(25% - 16px);
}

@media (max-width: 900px) {
    .card {
        flex: 1 1 calc(33% - 16px);
    }
}

@media (max-width: 600px) {
    .card {
        flex: 1 1 calc(50% - 16px);
    }
}